@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background-color: white;
}

body {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* styles/globals.css */
.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
}

.product-card h3 {
  margin: 0 0 8px;
}

.product-card p {
  margin: 4px 0;
}

.product-card button {
  margin-top: 8px;
}